<h1>About the Event Supplies Helper</h1>
<p>
   This is the 'Event supplies helper' 
	web application. It helps the parents and the school 
	manage and communicate what items are required for 
	school events.
</p>
<p>On this website you can:
	<ul>
		<li>View the upcoming events</li>
		<li>See the list of items required</li>
		<li>Add your contributions for an event</li>
	</ul>
</p>
