<h1>About the Event Supplies Helper</h1>
<p>
   This is the 'Event supplies helper' 
	web application. From a concept originally conceived by Miguel Obregon, it helps the parents and the school manage and communicate what items are required for school events.
</p>
<p>
	For demonstrations and instructions on how to perform these tasks, please go to the <b><u><%= link_to "Help", '/help' %></u></b> page.
</p>
