<h1>Help page</h1>
<p>See demonstrations for how to:
	<ul>
		<li>View the upcoming events</li>
		<li>See the list of items required</li>
		<li>Add your contributions for an event</li>
	</ul>
</p>

<p>
   If you need further help, please contact Mr Michael Nelson <%= mail_to "mnelson@zis.ch" %>
</p>
